.idea/
__pycache__/
.ipynb_checkpoints/
data/
labels/
notebooks/character_3d/
notebooks/character_3d_aligned/
/notebooks/woodblock_depth_xyz/
/notebooks/woodblock_depth_z/
/notebooks/woodblock_inverted_matrix/
/notebooks/woodblock_xyz/
/notebooks/pitch_map/
/notebooks/character_scan_2d/
/notebooks/character_depth_imgs/
/Open3D/
/outputs/
/notebooks/scan_imgs/
/notebooks/sina_nom_annos/
/notebooks/test_moc_ban_ok/
/notebooks/woodblock_border/
/notebooks/woodblock_z/
/Open3D/
/Open3D/3rdparty/
/notebooks/floor_woodblock_points/
/notebooks/floor_z/
/notebooks/raw_pitch_map/
/notebooks/surface_woodblock_points/
/notebooks/surface_z/
/notebooks/whole_woodblock/
/notebooks/inverted_matrix_z/
/notebooks/rotate_whole_woodblock/
/notebooks/surface_xyz/
/notebooks/depth_border_points/
/notebooks/inverted_matrix_xyz/
